.clickable {
  display: inline-block;
  font-size: 4rem;

  cursor: pointer;

  transition: var(--time) var(--cubic);
  transition-property: transform, visibility, opacity;

  &.is-hidden {
    transform: translateX(-200%);
  }
}
